@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.modal {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  &[data-backdrop="true"] {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.card {
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(206, 206, 206);
  padding: 1em;
  min-width: 250px;
  min-height: 140px;
  border-radius: 10px;
  background-color: white;
  &[data-backdrop="false"] {
    box-shadow: 0px 0px 107px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 107px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 107px -4px rgba(0, 0, 0, 0.55);
  }
}

.close {
  align-self: right;
  padding: 0;
  border: none;
  background: none;
  float: right;
  color: gray;
  &:hover {
    cursor: pointer;
  }
}
